/* Globals */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

#btnCZ{
  margin-left: auto;
}

.prevImg, .nextImg{
  height: 100px;
  width: 50px;
  margin: 10px;
}

.prevImg:hover, .nextImg:hover{
  background-color: rgba(0, 123, 255, 0.75);
}

.nextImg{
  margin-left: auto;
}

.arrows{
  display: flex;
}

/* Base structure */

html,
body {
  height: 100%;
  background-color: #00b1f4;
  margin: 0;
  overflow: hidden;
}

.cover-container {
  position: absolute;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


/* Header */
.masthead {
  margin-bottom: 2rem;
  background-color: rgba(0, 123, 255, 0.75);
  padding: 15px;
}

.masthead-brand {
  margin-bottom: 10px;
  margin-left: 25px;
  color: white;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

h5{margin-right: 20px;}

@media (min-width: 600px) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}


/* Cover */

.cover {
  padding: .75rem 1.25rem;
  font-weight: 700;
  height: auto;
  margin: auto;
  position: absolute;
  align-self: center;
  bottom: 10%;
} 

.modal-body{
  overflow: auto;
}

@media (max-height: 800px) {
  .modal-body{
    max-height: 600px;
  }
}
@media (max-height: 730px) {
  .modal-body{
    max-height: 530px;
  }
}
@media (max-height: 650px) {
  .modal-body{
    max-height: 450px;
  }
}
@media (max-height: 560px) {
  .modal-body{
    max-height: 360px;
  }
}

.modal-footer {
  justify-content: center;
  margin: auto;
  width: 100%;
}

/* Footer */
.mastfoot {
  color: rgba(255, 255, 255, .8);
}

/* Map */

.cls-1,
.cls-2,
.cls-3 {
  fill-rule: evenodd;
  animation: breathing 5s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    opacity: 35%;
  }
  35% {
    opacity: 35%;
  }
  45% {
    opacity: 60%;
  }
  55% {
    opacity: 60%;
  }
  65% {
    opacity: 35%;
  }
  100% {
    opacity: 35%;
  }
}

.cls-1 {
  fill: rgb(0, 68, 255);
  opacity: 40%;
  stroke: #000;
  ;
}

.cls-2 {
  fill: burlywood;
  opacity: 35%;
  stroke: #000;
}

.cls-3 {
  fill: white;
  opacity: 35%;
  stroke: #000;
}

path {
  fill: #000;
  stroke-width: 15px;
  stroke-linejoin: round;
  stroke-dasharray: 20px;
  cursor: pointer;
}

/*
 * Map div
 */

.mapdiv {
  background-image: url('../img/1np/1np.jpg');
  background-size: cover;
}

.mapdiv :hover {
  fill: rgba(0, 0, 0, .25);
}

#loading-screen {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
  height: 0;
}

.zoom{
  transform: scale(2);
  transform-origin: 0% 0%;
}

.zoom:hover{
  cursor: grab;
  overflow: auto;
}

/* Responziveness */

@media (min-height: 500px){

  h5.masthead-brand {
    padding-top: 7px;
  }
  
  .btn-primary,.btn-secondary{
    min-height: 38px;
    min-width: 60px;
  }

@media (min-width: 1000px){
    .btn-primary,.btn-secondary {
      min-width: 100px;
      min-height: 38px;
    }
  }

  @media (max-width: 600px) {
    .cover {
      bottom: 15%;
    }
  
    button.btn-primary {
      min-width: 60px;
      min-height: 37px;
    }
  }
}

@media (max-height: 600px){

  h5.masthead-brand {
    padding-top: 5px;
  }

  h3{font-size: 20px;}
  h5{font-size: 15px;}
  p{
    font-size: 10px;
    margin-bottom: 8px;
  }
  .btn{font-size: 10px;}
  a{font-size: 10px;}
  .btn-primary,.btn-secondary{
    padding: 5px;
  }
  .cover {
    bottom: 5%;
  }
  .prevImg,.nextImg{
    height: 60px;
    width: 30px;
  }
  .nav{
    position: absolute;
    top:60px;
    right: 20px;
  }
  @media (min-width: 600px) {
    .nav{top: 20px;}
  }
  
  .btn-primary,.btn-secondary {
    min-width: 70px;
    min-height: 27px;
  }


  @media (max-width: 600px) {
    .cover {
      bottom: 10%;
    }

    button.btn-primary {
      min-width: 60px;
      min-height: 27px;
    }
  }
}

@media (max-width: 700px){
  h5.masthead-brand {
    padding-top: 5px;
  }

  h3{font-size: 20px;}
  h5{font-size: 15px;}
  p{
    font-size: 10px;
    margin-bottom: 8px;
  }
  .btn{font-size: 10px;}
  a{font-size: 10px;}
  .btn-primary,.btn-secondary{
    padding: 5px;
  }
  .cover {
    bottom: 5%;
  }
  .prevImg,.nextImg{
    height: 60px;
    width: 30px;
  }
  .nav{
    position: absolute;
    top: 60px;
    right: 20px;
  }
  @media (min-width: 600px) {
    .nav{top: 20px;}
  }
  
  .btn-primary,.btn-secondary {
    min-width: 70px;
    min-height: 27px;
  }


  @media (max-width: 600px) {
    .cover {
      bottom: 10%;
    }

    button.btn-primary {
      min-width: 60px;
      min-height: 27px;
    }
  }
}

@media (max-width: 364px){
  .nav{
    position: absolute;
    top:80px;
  }
}