body {
    margin: 0;
    min-height: 100vh;
    background-color: #333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#container{
    background-color: gray;
    height: max-content;
}
.map {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    color:black;
    border-radius: 5px;
    width: 500px;
    height: 200px;
 }
 
 .element {
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
 }
 